.headerContainer {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  width: 100%;
  border: 1px solid black;
  text-align: center;
}
.keepTrack {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
